#bus-card-container {
  display: block;
  position: relative;
  margin: 5rem auto;
  padding: 0;
  height: 375px;
  width: 630px;
  font-family: 'Lato', 'sans-serif';
  text-align: left;
  line-height: 1.2;
}

.card label {
  position: absolute;
  top: 20px;
  right: 10px;
  background: transparent;
  cursor: pointer;
}

.card {
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: perserve-3d;
  -moz-transform-style: perserve-3d;
  -ms-transform-style: perserve-3d;
  -o-transform-style: perserve-3d;
  transform-style: perserve-3d;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: transparent;
}

#bus-card-container input[type="checkbox"] {
  display: none;
}

#bus-card-container input:checked + .card #front {
  transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

#bus-card-container input:checked + .card #back {
  transform: none;
}
#bus-card-container input:checked + .card #back:hover {
  box-shadow: 0px 5px 30px -5px #121212;
  transform: rotateX(-20deg);
  -o-transform: rotateX(-20deg);
  -ms-transform: rotateX(-20deg);
  -moz-transform: rotateX(-20deg);
  -webkit-transform: rotateX(-20deg);
}

#front, #back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 0 0rem;
}

.card #front {
  background-image: url("../img/bg2.png");
  padding: 1rem 2rem;
  color: #fff;
}
.card #front:hover {
  box-shadow: 0px 5px 30px -5px #121212;
  transform: rotateX(20deg);
  -o-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -webkit-transform: rotateX(20deg);
}

.card #back {
  background-image: url("../img/redrocks.png");
  color: #0a0a0a;
  transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.name {
  font-size: 4rem;
  font-weight: 400;
}

.title {
  font-weight: 300;
  color: #cfcfcf;
}

#name-plate {
  position: absolute;
  bottom: 15px;
  left: 10px;
  background: #FFA753;
  padding: 3px 8px;
  border-radius: 3px;
}

#about-text {
  margin: 4rem 0 1rem 0;
  font-size: 2rem;
  color: #cecece;
}

.purple {
  color: #a263ef;
  margin-right: 2rem;
}

.flex-column {
  float: left;
  flex-direction: column;
}

#footer {
  display: flex;
  position: relative;
  top: 6rem;
}

#footer img {
  float: left;
  margin-right: 10px;
}

#social {
  margin-left: auto;
}
