/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Colors*/
* {
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

strong {
  font-weight: bold;
  color: #ff1493; }

.fadeIn {
  opacity: 1;
  transition: opacity 800ms; }

.fadeOut {
  background: inherit;
  opacity: 0;
  transition: opacity 800ms; }

.x-closer {
  border: 2px solid #102222;
  border-radius: 10px;
  padding: 10px 15px; }

.grid, .grid--fluid {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.grid--fluid {
  max-width: 960px; }

.grid__row {
  display: flex; }

.grid__col1 {
  position: relative;
  width: 8.333%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col1:first-child {
    margin-left: 0; }
  .grid__col1:last-child {
    margin-right: 0; }

.grid__offset-by-1 {
  margin-left: 8.333%; }

.grid__col2 {
  position: relative;
  width: 16.666%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col2:first-child {
    margin-left: 0; }
  .grid__col2:last-child {
    margin-right: 0; }

.grid__offset-by-2 {
  margin-left: 16.666%; }

.grid__col3 {
  position: relative;
  width: 24.999%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col3:first-child {
    margin-left: 0; }
  .grid__col3:last-child {
    margin-right: 0; }

.grid__offset-by-3 {
  margin-left: 24.999%; }

.grid__col4 {
  position: relative;
  width: 33.332%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col4:first-child {
    margin-left: 0; }
  .grid__col4:last-child {
    margin-right: 0; }

.grid__offset-by-4 {
  margin-left: 33.332%; }

.grid__col5 {
  position: relative;
  width: 41.665%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col5:first-child {
    margin-left: 0; }
  .grid__col5:last-child {
    margin-right: 0; }

.grid__offset-by-5 {
  margin-left: 41.665%; }

.grid__col6 {
  position: relative;
  width: 49.998%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col6:first-child {
    margin-left: 0; }
  .grid__col6:last-child {
    margin-right: 0; }

.grid__offset-by-6 {
  margin-left: 49.998%; }

.grid__col7 {
  position: relative;
  width: 58.331%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col7:first-child {
    margin-left: 0; }
  .grid__col7:last-child {
    margin-right: 0; }

.grid__offset-by-7 {
  margin-left: 58.331%; }

.grid__col8 {
  position: relative;
  width: 66.664%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col8:first-child {
    margin-left: 0; }
  .grid__col8:last-child {
    margin-right: 0; }

.grid__offset-by-8 {
  margin-left: 66.664%; }

.grid__col9 {
  position: relative;
  width: 74.997%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col9:first-child {
    margin-left: 0; }
  .grid__col9:last-child {
    margin-right: 0; }

.grid__offset-by-9 {
  margin-left: 74.997%; }

.grid__col10 {
  position: relative;
  width: 83.33%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col10:first-child {
    margin-left: 0; }
  .grid__col10:last-child {
    margin-right: 0; }

.grid__offset-by-10 {
  margin-left: 83.33%; }

.grid__col11 {
  position: relative;
  width: 91.663%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col11:first-child {
    margin-left: 0; }
  .grid__col11:last-child {
    margin-right: 0; }

.grid__offset-by-11 {
  margin-left: 91.663%; }

.grid__col12 {
  position: relative;
  width: 99.996%;
  float: left;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7; }
  .grid__col12:first-child {
    margin-left: 0; }
  .grid__col12:last-child {
    margin-right: 0; }

.grid__offset-by-12 {
  margin-left: 99.996%; }

.grid__row--border {
  border: 1px solid black; }

.grid__col--center {
  text-align: center; }

#returnTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10; }
  #returnTop img {
    width: 7rem;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
    #returnTop img:hover {
      opacity: 1; }

#topNavBar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 1rem 0 3rem;
  background: deeppink;
  border-bottom: 0.5rem solid #ff47aa;
  font-size: 2rem;
  color: #ecf0f1;
  z-index: 1;
  user-select: none; }
  #topNavBar .logo:after {
    content: "PATRICK FRANZ"; }
  #topNavBar .resume {
    position: absolute;
    right: 3rem;
    top: 0rem; }
  #topNavBar span {
    margin: 3rem 5rem 0; }
  #topNavBar nav {
    margin: 0 auto; }
    #topNavBar nav li, #topNavBar nav .resume {
      display: inline-block;
      padding: 3rem 4rem;
      transition: all ease 0.5s; }
      #topNavBar nav li:hover, #topNavBar nav .resume:hover {
        color: #3E4651;
        background: #ff47aa;
        cursor: pointer; }

@media (max-width: 1275px) {
  #topNavBar {
    font-size: 1.5rem; }
    #topNavBar span {
      margin: 2rem 5rem 0; }
    #topNavBar nav li, #topNavBar nav .resume {
      padding: 2rem 0rem 2rem 2rem; } }

@media (max-width: 960px) {
  #topNavBar .logo {
    margin: 2rem 0px 0px 30px; }
    #topNavBar .logo:after {
      content: "PF"; }
  #topNavBar nav ul li, #topNavBar nav ul .resume {
    padding: 2rem 1rem; } }

@media (max-width: 700px) {
  #topNavBar {
    font-size: 1rem; }
  nav li, nav .resume {
    padding: 2rem 1rem; } }

@media (max-width: 425px) {
  #topNavBar {
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 10px;
    position: relative; }
    #topNavBar #logo {
      display: none;
      position: absolute;
      top: 3rem; }
      #topNavBar #logo:after {
        content: url("../img/hamburger-1.png");
        font-size: 2rem; }
    #topNavBar nav {
      margin: 0; }
      #topNavBar nav ul {
        color: #ecf0f1;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -ms-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s; }
        #topNavBar nav ul li, #topNavBar nav ul .resume {
          font-size: 1.5rem;
          padding: 2rem 1rem;
          width: 100%; } }

@media (max-width: 360px) {
  #topNavBar {
    display: none; }
  #mobile-menu-bar {
    background: #0C2032;
    border-bottom: 5px solid #42586E;
    display: flex;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1; }
    #mobile-menu-bar nav {
      background: #0C2032;
      color: #F0F0F0;
      height: 100%;
      left: 0rem;
      overflow: auto;
      position: fixed;
      top: 0rem;
      width: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #mobile-menu-bar nav .resume {
        position: absolute;
        width: 100%;
        bottom: 20px;
        font-size: 1.5rem;
        text-align: center; }
      #mobile-menu-bar nav li {
        font-size: 2rem;
        line-height: 2rem;
        padding: 2rem 2rem;
        white-space: nowrap; }
        #mobile-menu-bar nav li.fine-print {
          font-size: 1rem;
          text-align: center; }
        #mobile-menu-bar nav li:active, #mobile-menu-bar nav li:hover {
          background: #42586E; }
    #mobile-menu-bar #lbl-hamburger {
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #mobile-menu-bar #lbl-hamburger span {
        background: white;
        display: block;
        height: 4px;
        margin-bottom: 4px;
        width: 25px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
  #cb-menu-show:checked ~ #port-sections {
    overflow-x: hidden;
    transform: translate(50vw); }
  #cb-menu-show:checked ~ #mobile-menu-bar nav {
    position: fixed;
    width: 50vw; }
  #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger {
    transform: translate(50vw);
    -o-transform: translate(50vw);
    -ms-transform: translate(50vw);
    -moz-transform: translate(50vw);
    -webkit-transform: translate(50vw); }
    #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger span:nth-child(1) {
      transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
    #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger span:nth-child(2) {
      opacity: 0; }
    #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger span:nth-child(3) {
      transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); } }

#bus-card-container {
  display: block;
  font-family: "Lato", "sans-serif";
  height: 375px;
  line-height: 1.2;
  margin: 5rem auto;
  padding: 0;
  position: relative;
  text-align: left;
  width: 630px; }

.card label {
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 20px; }

.card {
  background: transparent;
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: "perserve-3d";
  -moz-transform-style: "perserve-3d";
  -ms-transform-style: "perserve-3d";
  -o-transform-style: "perserve-3d";
  transform-style: "perserve-3d"; }

#bus-card-container input[type="checkbox"] {
  display: none; }

#bus-card-container input:checked + .card #front {
  transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); }

#bus-card-container input:checked + .card #back {
  transform: none; }

#bus-card-container input:checked + .card #back:hover {
  box-shadow: 0 5px 30px -5px #121212;
  transform: rotateX(-20deg);
  -o-transform: rotateX(-20deg);
  -ms-transform: rotateX(-20deg);
  -moz-transform: rotateX(-20deg);
  -webkit-transform: rotateX(-20deg); }

#front, #back {
  border-radius: 4px;
  height: 100%;
  padding: 0 0rem;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.card #front {
  background-image: url("../img/bg2.png");
  color: #ffffff;
  padding: 1rem 1rem; }

.card #front:hover {
  box-shadow: 0 5px 30px -5px #121212;
  transform: rotateX(20deg);
  -o-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -webkit-transform: rotateX(20deg); }

.card #back {
  background-image: url("../img/redrocks.png");
  color: #0a0a0a;
  transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); }

.name {
  font-size: 4rem;
  font-weight: 400; }

.title {
  color: #cfcfcf;
  font-weight: 300; }

#name-plate {
  background: #ffa753;
  border-radius: 3px;
  bottom: 15px;
  left: 10px;
  padding: 3px 8px;
  position: absolute; }

#about-text {
  color: #cecece;
  font-size: 2rem;
  margin: 4rem 0 1rem 0; }

.purple {
  color: #a263ef;
  margin-right: 2rem; }

.flex-column {
  flex-direction: column;
  float: left; }

#footer {
  display: flex;
  position: relative;
  top: 6rem; }

#footer img {
  float: left;
  margin-right: 10px; }

#social {
  margin-left: auto; }

@media (max-width: 700px) {
  #bus-card-container {
    height: 225px;
    font-size: 1rem;
    width: 400px; }
  .card label {
    top: 0; }
  .name {
    font-size: 2rem;
    font-weight: 400; }
  .title {
    color: #cfcfcf;
    font-weight: 300; }
  #about-text {
    color: #cecece;
    font-size: 1.1rem;
    margin: 2rem 0 1rem 0; }
  #footer {
    display: flex;
    position: relative;
    top: 3rem; }
  #ico-flip {
    width: 20px; } }

@media (max-width: 500px) {
  #bus-card-container {
    font-size: 1rem;
    height: 200px;
    width: 300px; }
  .card label {
    top: 0; }
  .name {
    font-size: 2rem;
    font-weight: 400; }
  .title {
    color: #cfcfcf;
    font-weight: 300; }
  #about-text {
    color: #cecece;
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0; }
  #footer {
    display: flex;
    position: relative;
    top: 1rem; }
  #footer img {
    width: 20px; } }

.button {
  background-color: #ff8f15;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin: 1rem;
  max-width: 80%;
  padding: 0;
  text-decoration: none;
  user-select: none; }

.button:hover {
  background-color: #ffb96e; }

.button:active {
  background-color: #ffe391; }

.button:focus {
  outline: none; }

.button-sm {
  font-size: 1.5rem;
  padding: 1rem; }

.button-md {
  font-size: 2rem;
  padding: 1.25rem; }

.button-lg {
  font-size: 2.5rem;
  padding: 1.5rem; }

.graph {
  display: flex;
  position: relative; }

.graph-flex-row {
  display: flex;
  flex-direction: row;
  position: relative; }

.graph-bar {
  color: #212020;
  padding: 0.5rem 1rem;
  padding-left: 3rem;
  margin: 0.75rem 0; }

.bars {
  position: relative;
  width: 200px;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  text-align: center;
  left: 3rem; }

.bar {
  padding: 2rem 0;
  margin: 0.75rem 0; }

.graph-bar[data-graph-bar="learning"] {
  width: 25%; }

.graph-bar[data-graph-bar="learning"] .tooltip-text {
  left: -230%; }

.graph-bar[data-graph-bar="competent"] {
  width: 50%; }

.graph-bar[data-graph-bar="competent"] .tooltip-text {
  left: -55%; }

.graph-bar[data-graph-bar="proficient"] {
  width: 75%; }

.graph-bar[data-graph-bar="proficient"] .tooltip-text {
  left: 10%; }

.graph-bar[data-graph-bar="expert"] {
  width: 100%; }

.graph-bar[data-graph-bar="expert"] .tooltip-text {
  left: 55%; }

.width-25 {
  width: 25%; }

.width-50 {
  width: 50%; }

.width-75 {
  width: 75%; }

.width-100 {
  width: 100%; }

.bar-graphs {
  display: flex;
  justify-content: center; }

.graph {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  margin: 0 5rem 10rem; }

.x-axis {
  bottom: -17rem;
  font-size: 1.2rem;
  position: absolute;
  left: 9rem;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }

.x-axis li {
  padding: 1.25rem 0;
  transform: rotate(150deg);
  width: 15rem; }

.graph li {
  color: inherit;
  list-style: none; }

.y-axis li {
  padding: 1rem 0; }

/* bar colors */
.font-green {
  color: #1abc9c; }

.font-purple {
  color: #9b59b6; }

.font-blue {
  color: #3498db; }

.bar-bg-green {
  background: #1abc9c; }

.bar-bg-purple {
  background: #9b59b6; }

.bar-bg-blue {
  background: #3498db; }

.bar-bg-yellow {
  background: #f1c40f; }

.bar-bg-red {
  background: #e74c3c; }

.bar-bg-green2 {
  background: #2ecc71; }

/* TOOLTIP */
.tooltip {
  position: relative; }

.tooltip .tooltip-text {
  background: black;
  border: 1px solid black;
  bottom: 0.5rem;
  color: white;
  opacity: 0;
  position: absolute;
  padding: 0.5rem 2rem;
  pointer-events: none;
  text-align: left;
  transition: opacity 0.1s;
  white-space: nowrap;
  z-index: 100;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); }

.tooltip .tooltip-text em {
  font-weight: bold; }

.tooltip .tooltip-text:before {
  content: attr(data-about); }

.tooltip .tooltip-text::after {
  border: 10px solid;
  border-color: black transparent transparent transparent;
  content: " ";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%; }

.tooltip:hover .tooltip-text {
  opacity: 1; }

@media (max-width: 960px) {
  .tooltip-text i {
    display: none; }
  .graph-bar[data-graph-bar="learning"] {
    width: 25%; }
  .graph-bar[data-graph-bar="learning"] .tooltip-text {
    left: 60%; }
  .graph-bar[data-graph-bar="competent"] {
    width: 50%; }
  .graph-bar[data-graph-bar="competent"] .tooltip-text {
    left: 70%; }
  .graph-bar[data-graph-bar="proficient"] {
    width: 75%; }
  .graph-bar[data-graph-bar="proficient"] .tooltip-text {
    left: 85%; }
  .graph-bar[data-graph-bar="expert"] {
    width: 100%; }
  .graph-bar[data-graph-bar="expert"] .tooltip-text {
    left: 95%; }
  .rightmost-tooltip .tooltip-text {
    bottom: 5rem; }
  .rightmost-tooltip .tooltip-text::after {
    content: " ";
    left: 85%;
    margin-left: -5px;
    position: absolute;
    top: 100%; }
  .x-axis {
    bottom: -18rem;
    font-size: 1.2rem;
    left: 6rem;
    position: absolute;
    transform: rotate(-90deg); }
  .x-axis li {
    padding: 1.25rem 0;
    transform: rotate(180deg);
    width: 15rem; } }

@media (max-width: 960px) and (max-width: 500px) {
  .bar {
    margin: 0.75rem 0;
    padding: 1.5rem 0; }
  .bars {
    left: 2rem;
    position: relative;
    text-align: center;
    transform: rotate(-90deg);
    width: 200px; }
  .graph-bar[data-graph-bar="learning"] {
    width: 25%; }
  .graph-bar[data-graph-bar="learning"] .tooltip-text {
    left: 80%; }
  .graph-bar[data-graph-bar="competent"] {
    width: 50%; }
  .graph-bar[data-graph-bar="competent"] .tooltip-text {
    left: 90%; }
  .graph-bar[data-graph-bar="proficient"] {
    width: 75%; }
  .graph-bar[data-graph-bar="proficient"] .tooltip-text {
    left: 95%; }
  .graph-bar[data-graph-bar="expert"] {
    width: 100%; }
  .graph-bar[data-graph-bar="expert"] .tooltip-text {
    left: 100%; }
  .rightmost-tooltip .tooltip-text {
    bottom: 2rem; }
  .rightmost-tooltip .tooltip-text::after {
    content: " ";
    left: 70%;
    margin-left: -5px;
    position: absolute;
    top: 100%; }
  .x-axis {
    bottom: -18rem;
    font-size: 1.2rem;
    left: 4.5rem;
    position: absolute;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }
  .x-axis li {
    padding: 0.7rem 0;
    transform: rotate(180deg);
    width: 15rem; }
  .tooltip .tooltip-text {
    font-size: 1rem;
    padding: 0.5rem 1rem; } }

#social-sidebar {
  display: inline-block;
  background: deeppink;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  position: fixed;
  left: 5px;
  top: 5px;
  transition: all 500ms;
  text-align: center;
  overflow: hidden;
  z-index: 100; }
  @media (max-width: 600px) {
    #social-sidebar {
      width: 55px;
      right: 5px; } }
  @media (max-width: 425px) {
    #social-sidebar {
      display: none; } }
  #social-sidebar ul li {
    margin: 2px 0;
    transition: transform 250ms;
    cursor: pointer; }
    #social-sidebar ul li:hover {
      transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05); }
    #social-sidebar ul li img {
      max-width: 50px;
      margin: 0 0 6px; }

.transition-bottom {
  top: calc(100% - 75px) !important; }

@media (max-width: 600px) {
  .transition-bottom {
    top: calc(100% - 75px) !important; } }

.minimize {
  max-height: 73px; }

.restore {
  max-height: 100%; }

@media (max-width: 1275px) {
  #social-sidebar ul li img {
    max-width: 30px; }
  .minimize {
    max-height: 50px; } }

#cookie-alert {
  display: flex;
  position: fixed;
  bottom: -200px;
  padding: 30px 20px;
  background-color: #1ab4bc;
  width: 100vw;
  font-size: 2rem;
  z-index: 200;
  align-content: center;
  transition: all 1000ms; }
  #cookie-alert .ico {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0; }
  #cookie-alert > .cookie-text {
    margin: 5px 90px 0 0; }
  #cookie-alert .x-closer {
    position: absolute;
    right: 50px;
    top: 25px;
    cursor: pointer;
    transition: all 500ms; }
    #cookie-alert .x-closer:hover {
      transform: translate(0, -5px);
      -o-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
      -moz-transform: translate(0, -5px);
      -webkit-transform: translate(0, -5px); }

.hide-below {
  transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -webkit-transform: translate(0, 100px); }

.quote-api-bar {
  position: relative;
  padding: 20px 20px;
  font-size: 2rem;
  color: #cac7c7;
  text-align: center;
  background: #2a60ac;
  background: -moz-linear-gradient(top, #2a60ac 0%, #2a60ac 4%, #102222 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #2a60ac), color-stop(4%, #2a60ac), color-stop(100%, #102222));
  background: -webkit-linear-gradient(top, #2a60ac 0%, #2a60ac 4%, #102222 100%);
  background: -o-linear-gradient(top, #2a60ac 0%, #2a60ac 4%, #102222 100%);
  background: -ms-linear-gradient(top, #2a60ac 0%, #2a60ac 4%, #102222 100%);
  background: linear-gradient(to bottom, #2a60ac 0%, #2a60ac 4%, #102222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a60ac', endColorstr='#102222', GradientType=0 ); }
  .quote-api-bar .tab {
    position: absolute;
    top: -40px;
    font-size: 2rem;
    left: 0;
    background: #2a61ac;
    padding: 10px;
    border-top-right-radius: 10px; }

@keyframes slide-left {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

@keyframes slide-right {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

#project-carousel {
  display: grid;
  justify-content: center;
  position: relative;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  margin: 50px 0; }
  #project-carousel .modal {
    display: grid;
    position: fixed;
    justify-self: center;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    width: 90vw;
    height: 80vh;
    top: 75px;
    left: 25px;
    background-color: rgba(92, 81, 81, 0.85); }
    #project-carousel .modal .image {
      max-width: 90%; }
    #project-carousel .modal .content {
      align-self: flex-start;
      margin: 10px 40px 0 0;
      font-size: 2.0rem;
      text-align: left; }
      @media (max-width: 425px) {
        #project-carousel .modal .content {
          font-size: 1.5rem; } }
      #project-carousel .modal .content p {
        margin: 20px 0; }
      #project-carousel .modal .content .title {
        text-align: center;
        font-size: 3rem; }
        @media (max-width: 425px) {
          #project-carousel .modal .content .title {
            font-size: 2rem; } }
      #project-carousel .modal .content .links {
        display: grid;
        grid-template-columns: 1fr 1fr; }
      #project-carousel .modal .content a {
        text-decoration: underline;
        color: #556CF2;
        transition: 250ms all;
        margin: 0 10px; }
        #project-carousel .modal .content a:hover {
          color: #102cd1; }
    #project-carousel .modal .modal-close {
      position: absolute;
      top: 0px;
      right: 20px;
      cursor: pointer;
      transition: 250ms all;
      opacity: 0.5; }
      #project-carousel .modal .modal-close:hover {
        opacity: 1; }
  #project-carousel .hide {
    display: none; }
  #project-carousel .page-dots {
    display: flex;
    grid-template-columns: fit-content(40%);
    justify-content: center;
    grid-column: 1/4; }
    #project-carousel .page-dots .dot {
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      background: deeppink;
      width: 20px;
      height: 20px;
      opacity: 0.5;
      transition: 250ms all; }
      #project-carousel .page-dots .dot:hover {
        border: 3px solid rgba(255, 255, 255, 0.75); }
    #project-carousel .page-dots .dot-selected {
      border: 3px solid rgba(255, 255, 255, 0.75);
      opacity: 1; }
  #project-carousel .scroll {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-size: 5rem;
    cursor: pointer;
    color: deeppink;
    transition: all 250ms; }
    #project-carousel .scroll:hover {
      transform: scale(1.2); }
  @media (max-width: 600px) {
    #project-carousel .scroll {
      display: none; } }
  #project-carousel .projects-main {
    padding: 10px 0; }
    #project-carousel .projects-main .project-list {
      display: grid;
      justify-content: center;
      justify-items: center;
      grid-auto-flow: row;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-template-rows: auto auto; }
      #project-carousel .projects-main .project-list .project-item {
        max-width: 300px;
        line-height: 1.5;
        margin-bottom: 20px; }
        #project-carousel .projects-main .project-list .project-item img {
          max-width: 300px;
          max-height: 200px; }
      #project-carousel .projects-main .project-list .slide-left {
        animation: slide-left forwards ease-in 500ms; }
      #project-carousel .projects-main .project-list .slide-right {
        animation: slide-right forwards ease-in 500ms; }
      #project-carousel .projects-main .project-list .project-item {
        text-align: center;
        transition: all 250ms;
        cursor: pointer; }

@media (max-width: 1200px) {
  #project-carousel {
    margin: 10px 0; }
    #project-carousel .modal {
      grid-template-columns: 1fr;
      padding: 10px;
      grid-gap: 2px;
      width: 85vw; }
      #project-carousel .modal .image {
        max-width: 80%; } }

@media (max-width: 600px) {
  #project-carousel {
    grid-template-columns: 1fr;
    margin: 50px 0; }
    #project-carousel .modal .image {
      max-width: 70%; } }

.b {
  border: 2px solid deeppink; }

#mobile-menu-bar, #cb-menu-show {
  display: none; }

#port-sections {
  transition: all 0.5s;
  background-color: #102222;
  color: #ecf0f1; }
  #port-sections .divider {
    display: flex;
    justify-content: center;
    margin-top: 10rem; }
    #port-sections .divider img {
      max-width: 100px;
      max-height: 100px; }
  @media (max-width: 425px) {
    #port-sections .divider {
      background: #ffffff; } }
  #port-sections .sec-container {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;
    margin: 0 10rem;
    min-height: 90vh;
    position: relative;
    top: 10rem; }
    #port-sections .sec-container .section--title {
      color: #ff1493;
      font-size: 7rem;
      font-weight: 100;
      text-align: center; }
    #port-sections .sec-container .section-text p {
      font-size: 2.5rem;
      font-weight: 100;
      text-align: center; }
  @media (max-width: 1024px) {
    #port-sections .sec-container {
      margin: 0 2rem; } }
  #port-sections #port--about-sec {
    /* Begin ABOUT section */
    grid-template-columns: auto 1fr;
    align-items: center; }
    #port-sections #port--about-sec section {
      font-size: 2.5rem; }
      #port-sections #port--about-sec section article {
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        align-items: center; }
        #port-sections #port--about-sec section article #port--about-pic {
          align-items: center;
          display: flex; }
          #port-sections #port--about-sec section article #port--about-pic img {
            border-radius: 10px; }
    @media (max-width: 1024px) {
      #port-sections #port--about-sec section {
        font-size: 2rem; } }
  #port-sections .font-md {
    font-size: 1.5rem; }
  #port-sections #port--skills-sec {
    padding-bottom: 10rem; }
  #port-sections #port--contact-sec {
    padding-bottom: 10rem; }

@media (max-width: 425px) {
  #port-sections {
    transition: all 0.5s;
    background-color: white;
    color: #102222; } }

.center-title {
  text-align: center; }

#port--contact-sec {
  text-align: center; }

#port--about-sec img {
  margin: 0 5rem;
  width: 300px; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

footer {
  background: #ff1493;
  border-top: 0.5rem solid #ff47aa;
  color: #ecf0f1;
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  z-index: 1000; }

#skill-graphs {
  margin: 0 auto;
  padding: 2rem 0;
  width: 70%; }

.bar-graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10rem;
  padding: 0 10rem; }

.graph-titles {
  margin: 4rem 0 0; }

.graph-title {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500; }

.modal {
  align-items: center;
  background-color: rgba(62, 70, 81, 0.75);
  color: #ffffff;
  font-size: 4rem;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  text-align: center;
  user-select: none;
  width: 100vw;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .modal .modal-header {
    border: 0.5rem solid #ecf0f1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 8rem;
    position: absolute;
    right: 10rem;
    text-align: center;
    top: 10rem;
    width: 9rem; }
    .modal .modal-header:hover {
      opacity: 1; }

#search-na {
  display: none; }
  #search-na:target {
    display: flex; }

@media (max-width: 960px) {
  #port-sections .sec-container {
    margin: 0 5rem; }
  #port-sections #port--about-sec {
    background-attachment: initial; }
    #port-sections #port--about-sec section article {
      display: block; }
      #port-sections #port--about-sec section article #port--about-pic {
        display: flex;
        justify-content: center; }
  #port-sections #port--project-sec #projects-container #projects-right input[name="projects"] + label {
    font-size: 1.5rem;
    width: 20%; }
    #port-sections #port--project-sec #projects-container #projects-right input[name="projects"] + label:hover {
      border-color: #ff47aa; }
  #port-sections #port--project-sec #projects-container #projects-right input[name="projects"]:checked + label {
    border-color: #ff1493; }
    #port-sections #port--project-sec #projects-container #projects-right input[name="projects"]:checked + label + .c-proj {
      left: 25%;
      width: 75%; }
  #port-sections #port--project-sec #projects-container #projects-right .proj-carousel .project--carousel-frame .c-control {
    color: #ff1493;
    font-size: 4rem;
    padding: 0 1rem; }
  #port-sections #port--project-sec #projects-container #projects-right .proj-carousel .project--carousel-frame .c-control:hover {
    color: #ff47aa; }
  #port-sections #port--project-sec #projects-container #projects-right .proj-carousel .project--carousel-frame img {
    padding-bottom: 3rem; }
  #port-sections #port--project-sec #projects-container #projects-right .proj-desc {
    border-top: 1px solid darkslategray;
    font-size: 1.25rem; }
    #port-sections #port--project-sec #projects-container #projects-right .proj-desc .project--info-links {
      font-size: 1.5rem;
      justify-content: flex-end;
      text-decoration: underline; }
    #port-sections #port--project-sec #projects-container #projects-right .proj-desc .project--info-links a {
      margin: 1rem 3rem; }
      #port-sections #port--project-sec #projects-container #projects-right .proj-desc .project--info-links a img {
        margin-right: 5px;
        width: 25px; } }

@media (max-width: 600px) {
  #port-sections .sec-container {
    margin: 0 1rem; }
  .bar-graphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10rem;
    padding: 0 2rem; }
  .tooltip .tooltip-text {
    background: #7A9F35;
    border: 1px solid #7A9F35;
    color: white; }
    .tooltip .tooltip-text::after {
      border-color: #7A9F35 transparent transparent transparent; }
    .tooltip .tooltip-text em {
      color: #ecf0f1; }
  .modal {
    color: #ecf0f1;
    font-size: 3rem; }
    .modal .modal-header {
      border: 0.5rem solid #ecf0f1;
      font-size: 4rem;
      width: 5rem; } }

@media (max-width: 425px) {
  body {
    overflow: hidden; }
  #port-sections #port--about-sec {
    background: rgba(52, 152, 219, 0.75);
    padding: 0 1rem; }
  #port-sections #port--project-sec {
    background: white; }
  #port-sections #port--skills-sec {
    background: rgba(230, 126, 34, 0.75); }
  #port-sections #port--contact-sec {
    background: rgba(26, 188, 156, 0.75); }
  #port-sections .sec-container {
    margin: 0;
    top: 6rem; }
    #port-sections .sec-container .section--title {
      color: #3E4651;
      font-size: 5rem;
      font-weight: 100;
      text-align: center; }
    #port-sections .sec-container .section-text p {
      font-size: 2rem;
      font-weight: 100;
      padding: 1rem;
      text-align: left; }
  #port-sections #port--about-sec {
    /* Begin ABOUT section */ }
    #port-sections #port--about-sec section {
      font-size: 2rem;
      padding-bottom: 7rem; }
      #port-sections #port--about-sec section article #port--about-pic img {
        border: 0 solid #ff1493;
        border-radius: 10px; } }

@media (max-width: 360px) {
  strong {
    color: #0C2032; }
  #mobile-menu-bar {
    background: #0C2032;
    border-bottom: 5px solid #42586E;
    display: flex;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1; }
    #mobile-menu-bar nav {
      background: #0C2032;
      color: #F0F0F0;
      height: 100%;
      left: 0rem;
      overflow: auto;
      position: fixed;
      top: 0rem;
      width: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #mobile-menu-bar nav li {
        font-size: 2rem;
        line-height: 2rem;
        padding: 2rem 2rem;
        white-space: nowrap; }
        #mobile-menu-bar nav li.fine-print {
          font-size: 1rem;
          text-align: center; }
        #mobile-menu-bar nav li:active, #mobile-menu-bar nav li:hover {
          background: #42586E; }
    #mobile-menu-bar #lbl-hamburger {
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      #mobile-menu-bar #lbl-hamburger span {
        background: white;
        display: block;
        height: 4px;
        margin-bottom: 4px;
        width: 25px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
  #cb-menu-show:checked ~ #port-sections {
    overflow-x: hidden;
    transform: translate(50vw); }
  #cb-menu-show:checked ~ #mobile-menu-bar nav {
    position: fixed;
    width: 50vw; }
  #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger {
    transform: translate(50vw);
    -o-transform: translate(50vw);
    -ms-transform: translate(50vw);
    -moz-transform: translate(50vw);
    -webkit-transform: translate(50vw); }
    #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger span:nth-child(1) {
      transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg); }
    #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger span:nth-child(2) {
      opacity: 0; }
    #cb-menu-show:checked ~ #mobile-menu-bar #lbl-hamburger span:nth-child(3) {
      transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }
  /* TOOLTIP */
  .tooltip .tooltip-text {
    background: #0C2032;
    border: 1px solid #0C2032;
    color: white; }
    .tooltip .tooltip-text::after {
      border-color: #0C2032 transparent transparent transparent; }
    .tooltip .tooltip-text em {
      color: #ecf0f1; } }
