/*
Color Palette: http://paletton.com/#uid=73e0K0kjuEL99UueQN2nxxct6t+
http://flatcolors.net/palette/889-three

*/

* {
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: 'open sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

#topNavBar{
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 2rem;
  background: #6F2974;
  border-bottom: 0.5rem solid #A976AD;
  font-size: 2rem;
  color: #F0F0F0;
  z-index: 90;
}

#topNavBar span{
  margin: 3rem 2rem 0;;
}

nav{
  margin: 0 auto;
}

nav li{
  display: inline-block;
  color: #F0F0F0;
  padding: 3rem 4rem;
  transition: all ease 0.5s;
}

nav li:hover{
  color: #3E4651;
  background: #A976AD;
  /*border-right: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;*/
  cursor: pointer;
}

#search{
  position: relative;
  float: right;
}

#search label{
  position: absolute;
  bottom: 2rem;
  font-size: 1.5rem;
  left: 0;
  transition: all 1s;
}

#search input{
  width: 100%;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: inherit;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #f0f0f0;
}

#search input[type='image']{
  position: absolute;
  right: 0;
  bottom: 3rem;
  width: 3rem;
  border: none;
}

#search input:focus + label{
  transform: translateY(-2rem) scale(0.8);
}

#port--about-sec{
  background: url('../img/bg-mt-thor.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}

#port--project-sec{
   background: url('../img/bg-ski-sweden.jpg') no-repeat;
  background-size: cover;
   padding-bottom: 10rem;
}

#port--skills-sec{
   background: url('../img/bg-surf-oxnard.jpg') no-repeat;
   background-size: cover;
   padding-bottom: 10rem;
}

#port--contact-sec{
   background: url('../img/bg-goldengate.jpg') no-repeat;
   background-size: cover;
   padding-bottom: 10rem;
}

#port--about-sec > section{
  font-size: 3rem;
}

.font-md{
  font-size: 1.5rem;
}

.project--info{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

.project--info-links{
  font-size: 1.5rem;
  
  text-decoration: underline; 
}

.center-title{
  text-align: center;
}

.project--info-links a{
  margin: 1rem 3rem;
}

.sec-container{
  position: relative;
  font-size: 2rem;
  line-height: 2;
  min-height: 110vh;
  margin: 0 15rem;
}

.sec-container:before{
  display: block;
  content: ' ';
  height: 10rem;
}


#port--about-sec article{
  display: flex;
}

#port--about-sec article div{
  flex: 1;
}

#port--about-pic{
  display: flex;
  align-items: center;
}

#port--contact-sec{
  text-align: center;
}

#tab-container{
  width: 1100px;
  margin: 0 auto;
  position: relative; 
}

#project--tabs{
  display: flex;
  height: 600px;
  width: 225px;
  flex-direction: column;
  overflow-y: auto;
  background: lightgrey;
}

.project--tab-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  top:0;
  left: 22.5rem;
  padding: 2rem;
  width: 900px;
  height: 600px;
  background: #848D82;
}

.carousel--image{
  position: relative;
  background: transparent;
  width: 600px;
  height: 350px;
  
}

.carousel--image img{
  margin: 0 auto;
  max-width: 600px;
  max-height: 400px;

}

.project--carousel-frame{
  position: relative;
  left: 4rem;
  display: flex;
  z-index: 20;
}


.project--carousel{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  overflow: auto;
}

.c-control{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 6rem;
  font-weight: bold;
  color: #335D96;
  user-select: none;
  cursor: pointer;
}

.c-control:hover{
  color: #FFFF66;
}

#project--p1{
  position: absolute;
  background: url('../img/ss-calc-01.png') center no-repeat;
  z-index: 1;
}

#project--tabs > input[type="radio"]{
  display: none;
}

.carousel--radio-buttons{
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;
  z-index: 10;
}

.project--tab-content input[type="radio"]{
  display: none;
  z-index: 100;
}

.carousel--radio-buttons label{
  display: inline-flex;
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #212020;
  transition: all ease 0.5s;
}

.project--tab-content > input:checked + section label{
  background: #212020;
}

.carousel--radio-buttons > label:hover{
  background: #212020;
  cursor: pointer;
}

#project--tabs > label{
  font-size: 2rem;
  padding: 2rem 3rem;
  line-height: 3;
  color: #212020;
  transition: all ease 0.5s;
  cursor: pointer;
  user-select: none;
}

#project--tabs > label:hover{
  background: #848D82;
  color: #F0F0F0;
}

#project--tabs > input:checked + label{
  background: #848D82;
  color: #F0F0F0;
}

#port--about-sec img{
  margin: 0 5rem;
  width: 300px;
}

.section--title{
  text-align: center;
  font-size: 7rem;
  color: #3E4651;
}

.section-text p{
  font-size: 2.5rem;
  text-align: center;
}

.placeholder{
  height: 400px;
}

.b{
  border: 1px dashed red;
}

.hide{
  display: none;
}

.tab--input ~ label{
  padding-right: 0;
  font-size: 0.5rem;
}

.tab--input + label + .project--tab-content{
  display: none;
}

.tab--input:checked + label + .project--tab-content{
  display: flex;
}

.carousel--input + div{
  display: none;
}

.carousel--input:checked + div{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.block{
  display: block;
}

.middle{
  padding: 10%;
}

footer{
  padding: 2rem;
  background: #F1654C;
  text-align: center;
  font-size: 1.5rem;
}

#skill-graphs{
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}

.bar-graphs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.graph-titles{
  margin: 4rem 0 0;
}

.modal{
  position: fixed;
  top: 0;
  background-color: rgba(62, 70, 81, 0.75);
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 4rem;
  height: 100vh;
  width: 100vw;
  user-select: none;
  transition: all 0.5s ease;
  z-index: 100;
}

.modal-header{
  position: absolute;
  font-size: 8rem;
  border: 0.5rem solid #F0F0F0;
  border-radius: 50%;
  width: 9rem;
  text-align: center;
  top: 10rem;
  right: 10rem;
  cursor: pointer;
  
}

.modal-header:hover{
  opacity: 1;
}

#search-na:target{
 display: flex;
}

#search-na{
  display: none;
  
}



