* {
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

strong{
  font-weight: bold;
  color: $primary;
}

.fadeIn{
  opacity: 1;
  transition: opacity 800ms;
}

.fadeOut{
  opacity: 0;
  transition: opacity 800ms;
}