/*Colors*/

$primary: #ff1493;
$primary-accent: lighten($primary, 10%);
$hover-bg-color: lighten($primary, 10%);
$background-dark: #102222;
$bg-information: #1ab4bc;
$text-color-white: #ecf0f1;;
$hover-text-color: #3E4651;
$header-text-color: #ff1493;
$tooltip-bg: $primary;
$tooltip-text: $primary-accent;

$primary-600: #7A9F35;
$primary-accent-600: #D4EE9F;

$hover-bg-color-600: #A976AD;
$text-color-white-600: #F0F0F0;
$hover-text-color-600: #3E4651;

$primary-360: #0C2032;
$primary-accent-360: #42586E;
$hover-bg-color-360: #A976AD;
$text-color-white-360: #F0F0F0;
$hover-text-color-360: #3E4651;

$make-it-pop: deeppink;