#project-carousel{
  border: 1px solid white;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  

  .scroll{
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-size: 5rem;
  }

  .projects-main{
    padding: 10px 0;

    .project-list{
      display: grid;
      justify-content: center;
      align-content: center;
      grid-auto-flow: row;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-template-rows: auto auto;

      .project-item{
        
        text-align: center;
      }
    }
  }
}