@keyframes slide-left{
  0% {transform: translateX(0);}
  100% {transform: translateX(100%)}
}
@keyframes slide-right{
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%)}
}

#project-carousel{
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  margin: 50px 0;

  
  .modal{
    display: grid;
    position: absolute;
    padding: 20px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    width: 90vw;
    height: 80vh;
    top: 0;
    background-color: rgba(0,0,0,0.85);

    .image{
      max-width: 90%;
    }

    .content{
      align-self: flex-start;
      margin: 10px 40px 0 0;
      font-size: 2.0rem;
      text-align: left;

      p{
        margin: 20px 0;
      }
      .title{
        text-align: center;
        font-size: 3rem;
      }

      .links{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      a{
        text-decoration: underline;
        color: #556CF2;
        transition: 250ms all;
        margin: 0 10px;

        &:hover{
          color: darken(#556CF2, 20%);
        }
      }
    }

    .modal-close{
      position: absolute;
      top: 0px;
      right: 20px;
      cursor: pointer;
      transition: 250ms all;
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
    }
  }
  
  .hide{
    display: none;
  }

  .page-dots{
    display: flex;
    grid-template-columns: fit-content(40%);
    justify-content: center;
    grid-column: 1/4;
    
    .dot{
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      background: $make-it-pop;
      width: 20px;
      height: 20px;
      opacity: 0.5;
      transition: 250ms all;

      &:hover{
        border: 3px solid rgba(255, 255, 255, 0.75);
      }
    }

    .dot-selected{
      border: 3px solid rgba(255, 255, 255, 0.75);
      opacity: 1;
    }
  }
  
  .scroll{
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10px;
    font-size: 5rem;
    cursor: pointer;
    transition: all 250ms;

    &:hover{
      transform: scale(1.2);
    }
  }

  .projects-main{
    padding: 10px 0;

    .project-list{
      display: grid;
      justify-content: center;
      justify-items: center;

      grid-auto-flow: row;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-template-rows: auto auto;

      .project-item{
        max-width: 300px;
        line-height: 1.5;
        margin-bottom: 20px;

        img{
          max-width: 300px;
          max-height: 200px;
        }
      }

      .slide-left{
        animation: slide-left forwards ease-in 500ms;
      }
      
      .slide-right{
        animation: slide-right forwards ease-in 500ms;
      }

      .project-item{
        text-align: center;
        transition: all 250ms;
        cursor: pointer;
      }
    }
  }
}