
.b{
  border: 2px solid $make-it-pop;
}

#mobile-menu-bar, #cb-menu-show{
  display: none;
}

#port-sections{
  transition: all 0.5s;
  background-color: $background-dark;
  color: $text-color-white;

  .divider{
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    img{
      max-width: 100px;
      max-height: 100px;
    }
  }

  @media(max-width: 425px){
    .divider{
      background: #ffffff;
    }
  }
  .sec-container{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;
    margin: 0 10rem;
    min-height: 90vh;
    position: relative;
    top: 10rem;
    

    .section--title{
      color: $header-text-color;
      font-size: 7rem;
      font-weight: 100;
      text-align: center;
    }

    .section-text{
      p{
        font-size: 2.5rem;
        font-weight: 100;
        text-align: center;
      }
    }
  }

  @media(max-width: 1024px){
    .sec-container{
      margin: 0 2rem;
    }
  }

  #port--about-sec{
    /* Begin ABOUT section */
    grid-template-columns: auto 1fr;
    align-items: center;
    section{
      font-size: 2.5rem;

      article{
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        align-items: top;

        #port--about-pic{
          align-items: center;
          display: flex;        

          img{
            border-radius: 10px;
          }
        }
      }
    }
    @media (max-width:1024px){
     section{
       font-size: 2rem;
     }   
    }
  }

  .font-md{
    font-size: 1.5rem;
  }

 

  #port--skills-sec{
    // background: url("../img/bg-surf-oxnard.jpg") no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    padding-bottom: 10rem;
  }

  #port--contact-sec{
    // background: url("../img/bg-goldengate.jpg") no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    padding-bottom: 10rem;
  }
}

@media( max-width: 425px){
  #port-sections{
    transition: all 0.5s;
    background-color: white;
    color: $background-dark;
  }
}

.center-title{
  text-align: center;
}

#port--contact-sec{
  text-align: center;
}



#port--about-sec img{
  margin: 0 5rem;
  width: 300px;
}



.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}


footer{
  background: $primary;
  border-top: 0.5rem solid $primary-accent;
  color: $text-color-white;
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  z-index: 1000;
}

#skill-graphs{
  margin: 0 auto;
  padding: 2rem 0;
  width: 70%;
}

.bar-graphs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10rem;
  padding: 0 10rem;
}

.graph-titles{
  margin: 4rem 0 0;
}

.graph-title{
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.modal{
  align-items: center;
  background-color: rgba(62, 70, 81, 0.75);
  color: #ffffff;
  font-size: 4rem;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  text-align: center;
  user-select: none;
  width: 100vw;
  z-index: 100;
  @include transition(all, 0.5s, ease);

  .modal-header{
    border: 0.5rem solid $text-color-white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 8rem;
    position: absolute;
    right: 10rem;
    text-align: center;
    top: 10rem;
    width: 9rem;

    &:hover{
      opacity: 1;
    }
  }
}

#search-na{
  display: none;

  &:target{
    display: flex;
  }
}



@media(max-width:960px){

  #port-sections{
    .sec-container{
      margin: 0 5rem;
    }

    #port--about-sec{
      background-attachment: initial;

      section{
        article{
          display: block;

          #port--about-pic{
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    #port--project-sec{
      #projects-container{
        #projects-right{
          input[name="projects"]{
            + label{
              font-size: 1.5rem;
              width: 20%;

              &:hover{
                border-color: $primary-accent;
              }
            }

            &:checked + label{
              border-color: $primary;
              + .c-proj{
                left: 25%;
                width: 75%;
              }
            }
          }

          .c-proj{
          }

          .proj-carousel{
            .project--carousel-frame{
              .carousel--image{
              }

              .c-control{
                color: $primary;
                font-size: 4rem;
                padding: 0 1rem;
              }

              .c-control:hover{
                color: $primary-accent;
              }

              img{
                padding-bottom: 3rem;
              }
            }
          }

          .proj-desc{
            border-top: 1px solid darkslategray;
            font-size: 1.25rem;

            .project--info-links{
              font-size: 1.5rem;
              justify-content: flex-end;
              text-decoration: underline;
            }

            .project--info-links a{
              margin: 1rem 3rem;

              img{
                margin-right: 5px;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}


@media(max-width: 600px){

  #port-sections{
    .sec-container{
      margin: 0 1rem;
    }    
  }

  .bar-graphs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10rem;
    padding: 0 2rem;
  }

  .tooltip{
    .tooltip-text{
      background: $primary-600;
      border: 1px solid $primary-600;
      color: white;

      &::after{
        border-color: $primary-600 transparent transparent transparent;
      }

      em{
        color: $text-color-white;
      }
    }
  }
  .modal{
    color: $text-color-white;
    font-size: 3rem;

    .modal-header{
      border: 0.5rem solid $text-color-white;
      font-size: 4rem;
      width: 5rem;
    }
  }
}



@media(max-width: 425px){
  body{
    overflow: hidden;
  }

  #port-sections{
    #port--about-sec{
      background: rgba(52,152,219 ,0.75);
      padding: 0 1rem;
    }

    #port--project-sec{
      background: white;
    }

    #port--skills-sec{
      background: rgba(230,126,34 ,0.75);
    }

    #port--contact-sec{
      background: rgba(26,188,156 ,0.75);
    }


    .sec-container{
      margin: 0;
      top: 6rem;


      .section--title{
        color: $hover-text-color;
        font-size: 5rem;
        font-weight: 100;
        text-align: center;
      }

      .section-text{
        p{
          font-size: 2rem;
          font-weight: 100;
          padding: 1rem;
          text-align: left;
        }
      }
    }


    #port--about-sec{
      /* Begin ABOUT section */

      section{
        font-size: 2rem;
        padding-bottom: 7rem;

        article{
          #port--about-pic{
            img{
              border: 0 solid $primary;
              border-radius: 10px;
            }
          }
        }
      }
    }

  }
}

@media (max-width:360px){
  strong{
    color: $primary-360;
  }
  //POP OUT NAV BAR

  #mobile-menu-bar{
    background: $primary-360;
    border-bottom: 5px solid $primary-accent-360;
    display: flex;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;

    nav{
      background: $primary-360;
      color: $text-color-white-360;
      height: 100%;
      left: 0rem;
      overflow: auto;
      position: fixed;
      top: 0rem;
      width: 0;
      @include transition(all, 0.5s);

      li{
        font-size: 2rem;
        line-height: 2rem;
        padding: 2rem 2rem;
        white-space: nowrap;

        &.fine-print{
          font-size: 1rem;
          text-align: center;
        }
        &:active, &:hover{
          background: $primary-accent-360;
        }
      }
    }

    #lbl-hamburger{
      cursor: pointer;
      @include transition(all, 0.5s);

      span{
        background: white;
        display: block;
        height: 4px;
        margin-bottom: 4px;
        width: 25px;
        @include transition(all, 0.5s);
      }
    }
  }

  #cb-menu-show{
    &:checked{
      & ~ #port-sections{
        overflow-x: hidden;
        transform: translate(50vw);
      }

      & ~ #mobile-menu-bar{
        nav{
          position: fixed;
          width: 50vw;
        }

        #lbl-hamburger{
          @include translateX(50vw);

          span{
            &:nth-child(1){
              @include rotate(-45deg);
            }

            &:nth-child(2){
              opacity: 0;
            }

            &:nth-child(3){
              @include rotate(45deg);
            }
          }
        }
      }
    }
  }

  /* TOOLTIP */

  .tooltip{
    .tooltip-text{
      background: $primary-360;
      border: 1px solid $primary-360;
      color: white;

      &::after{
        border-color: $primary-360 transparent transparent transparent;
      }

      em{
        color: $text-color-white;
      }
    }
  }
}
