#social-sidebar{
  display: inline-block;
  background: $make-it-pop;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  position: fixed;
  left: 5px;
  top: 5px;
  transition: all 500ms; 
  text-align: center;
  overflow: hidden;
  z-index: 100;

  @media(max-width:600px){
    width: 55px;
    right: 5px;
  }

  @media(max-width: 425px){
    display: none;
  }

  ul{
    li{
      margin: 2px 0;
      transition: transform 250ms;
      cursor: pointer;

      &:hover{
        @include scaleBy(1.05);
      }

      img{
        max-width: 50px;
        margin: 0 0 6px;
      }
    }
  }
}

.transition-bottom{
  top: calc(100% - 75px) !important;
}

@media(max-width: 600px){
  .transition-bottom{
    top: calc(100% - 75px) !important;
  }
  
}

.minimize{
  max-height: 73px;
}

.restore{
  max-height: 100%;
}

@media(max-width:1275px){
  #social-sidebar{
    // padding: 0.4rem 0.7rem;
    ul{
      li{
        img{
          max-width: 30px;
        }
      }
    }
    
  }
  .minimize{
    max-height: 50px;
  } 
}