#social-sidebar{
  display: flex;
  background: $make-it-pop;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  top: 20vh;
  transition: all 500ms; 
  text-align: center;
  overflow: hidden;
  z-index: 100;
  ul{
    li{
      margin: 2px 0;
      transition: transform 250ms;
      cursor: pointer;

      &:hover{
        @include scaleBy(1.05);
      }

      img{
        max-width: 50px;
        margin: 0 0 6px;
      }
    }
  }


}

@media(max-width: 960px){
  #social-sidebar{
    // padding: 0.4rem 0.7rem;
    
    img{
      max-width: 75%;
    }
  }
}

.transition-bottom{
  bottom: calc((100vh) - 200px) !important;
}

.minimize{
  max-height: 73px;
}

.restore{
  max-height: 100%;
}